<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- 1. 定义 Servlet -->
    <servlet>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>

        <!-- 2. 设置初始化参数 -->
        <init-param>
            <param-name>name</param-name>
            <param-value>Qiuzhiwei</param-value> <!-- 替换为你的名字 -->
        </init-param>
        <init-param>
            <param-name>studentId</param-name>
            <param-value>2023211001000420</param-value> <!-- 替换为你的学号 -->
        </init-param>
    </servlet>

    <!-- 3. 配置 URL 映射 -->
    <servlet-mapping>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>



    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/TestJDBC</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>qzw014036</param-value>
    </context-param>


</web-app>